.CommentsPage-container {
    width: 1240px;
    background-color: white;
    position: absolute;
    top: 449px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.CommentsPage-header-container {
    margin-top: 3em;
    height: 400px;
    width: 100%;
    background: linear-gradient(90deg, #AAACB1, #7D7A7A);
    position: relative;
}


.CommentsPage-top-left-container {
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.CommentsPage-play-button {
    background-color: #FF5500;
    border: 0;
    border-radius: 50%;
    height: 90px;
    width: 90px;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;

}

.CommentsPage-play-button:hover,
.CommentsPage-play-button:active {
    background-color: #ff3300;
}

.CommentsPage-song-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.CommentsPage-song-title {
    font-size: 2em;
    color: white;
}

.CommentsPage-artist-username {
    font-size: 1.3em;
    color: #999999;
}

.CommentsPage-song-title,
.CommentsPage-artist-username {
    background-color: #212223;

    padding: 0 10px;
    margin: 5px;
}






.CommentsPage-song-image {
    height: 360px;
    width: 360px;
    position: absolute;
    top: 1.2em;
    right: 1.4em;
    z-index: 15;
}

.header-song-image {
    height: 100%;
    width: 100%;
}











.CommentsPage-left {
    width: 900px;
    margin-top: 3em;
    margin-left: 2em;
    margin-right: 2em;
    padding-bottom: 60px;
}

.CommentsPage-commentsList {
    /* margin-top: 10px; */
}

.commentList-owner-info {
    display: flex;
    align-items: center;
    flex-direction: row;
    color: #999999;
    font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.commentList-user {
    margin-right: 15px;
}

.commentList-date {
    font-size: 10px;
}

.CommentsPage-input-container {
    border: 1px solid #E5E5E5;
    background-color: #F2F2F2;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 6px;
    margin-bottom: 10px;
}

.CommentsPage-input {
    width: 100%;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    height: 20px;
    color: #999999;
    padding-left: 10px;
}

.CommentsPage-input:focus {
    outline: none;
    color: black;
}

.remaining {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    color: #999999;
    /* padding-bottom: 10px; */
}

.remaining-num {
    padding-left: 5px;
}

.CommentsPage-lower-container {
    color: #999999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 12px;
    margin-bottom: 15px;
}

.commentList-comment {
    word-wrap: break-word;
    font-size: 12px;
    font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    margin-left: 10px;
}

.CommentsPage-lower-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
}

.CommentsPage-right {
    width: 340px;
    border-left: 1px solid #CCCCCC;
    margin-top: 3em;
    margin-bottom: 3em;
}

.commentList-edit-info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.comment-edit-button {
    border: 1px solid #99999975;
    color: black;
    background-color: #FFFFFF;
    font-size: 12px;
    font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 3px;
    cursor: pointer;
}

.comment-edit-button:hover {
    border-color: #999999;
}

.commentList-edit-buttons-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.press-enter {
    font-family: inherit;
    font-size: 12px;
    color: #999999;
    margin-right: 10px;
}

.comment-delete-button {
    border: 1px solid #99999975;
    color: black;
    background-color: #FF5500;
    font-size: 12px;
    font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 5px;
}

.comment-delete-button:hover {
    color: white;
}


.CommentPage-wave {
    position: absolute;
    bottom: 5em;
    width: 750px;
}

.CommentPage-wave-bottom-overlay-bar {
    position: absolute;
    background: linear-gradient(90deg, #AAACB1, #7D7A7A);
    height: 2px;
    width: 100%;
    left: 0;
    top: 15.25em;
    z-index: 11;
    pointer-events: none;
}

.CommentPage-wave-bottom-overlay {
    position: absolute;
    opacity: .8;
    height: 100px;
    width: 100%;
    top: 15.25em;
    left: 0;
    background: linear-gradient(90deg, #AAACB1, #7D7A7A);
    background-blend-mode: multiply;
    z-index: 10;
    pointer-events: none;

}
