.SearchBar-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SearchBar-input {
    width: 350px;
    height: 25px;
    border-radius: 4px;
    border: 0;
    padding-left: 5px;
    color: #333333;
}

#big-search-icon {
    position: absolute;
    top: 1em;
    right: 10px;
    color: #333333;
    cursor: pointer;
}

.auto-fill-container {
    display: flex;
    flex-direction: column;
    max-height: 180px;
    min-height: 30px;
    width: 357px;
    position: absolute;
    top: 4.1em;
    /* border-right: 1px solid #333333;
    border-left: 1px solid #333333;
    border-bottom: 1px solid #333333; */
    /* border-radius: 0 0 4px 4px; */
    color: #CCCCCC;
    font-size: 12px;
    background-color: #333333;
    overflow: hidden;
}

.auto-fill-data {
    display: flex;
    align-items: center;
    padding: 8px;
    /* height: 50px; */
    cursor: pointer;
    display: flex;
    position: relative;
}

.auto-fill-data:hover {
    background-color: #111111;
    color: #CCCCCC;
}

#small-search-icon {
    margin-right: 15px;
    margin-left: 10px;
}
