.Stream-container {
    height: 100%;
    width: 900px;
    display: flex;
    flex-direction: row;
    position: absolute;
    background-color: white;
    top: 3em;
}

.Stream-left-container {
    height: 100%;
    width: 900px;
}

.Stream-songs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin: 30px;
}

.Stream-song-image {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.Stream-song-info {
    display: flex;
    flex-direction: column;
}



.Stream-right-container {
    height: 100%;
    width: 340px;
    background-color: white;
    border-left: 1px solid lightgray;
}

.Stream-right-inner {
    position: fixed;
}
