.Stream-container {
    /* height: 100%; */
    width: 1240px;
    display: flex;
    flex-direction: row;
    position: absolute;
    background-color: white;
    top: 3em;
    padding-bottom: 50px;
}

.Stream-left-container {
    height: 100%;
    width: 900px;
    border-right: 1px solid lightgray;
}

.Stream-songs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 840px;
    margin: 30px;
}

.Stream-song-image {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.Stream-song-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-left: 15px;
}



.Stream-right-container {
    height: 100%;
    width: 340px;
    background-color: white;
}

.Stream-right-inner {
    position: fixed;
}

.Stream-song-edit-button {

}

.play-button {
    background-color: #FF5500;
    border: 0;
    border-radius: 50%;
    height: 35px;
    width: 45px;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}

.play-button:hover,
.play-button:active {
    background-color: #ff3300;
}

.fa-play {
    margin-left: 3px;
}
