.UserPage-Container {
    width: 1240px;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    top: 0;
    font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.UserPage-header {
    height: 200px;
    background-color: #111111;
    color: white;
    position: fixed;
    top: 3em;
    width: 1240px;
    z-index: 30;
}

.UserPage-header-username {
    margin: 50px;
    font-weight: bold;
    font-size: 50px;
}

.UserPage-lower-container {
    padding-top: 248px;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 50px;
}

.UserPage-wave-bottom-overlay-bar {
    position: absolute;
    border-top: 1px solid white;
    height: 25px;
    width: 550px;
    top: 5.65em;
    z-index: 11;
    pointer-events: none;
}

.UserPage-wave-bottom-overlay {
    position: absolute;
    opacity: .8;
    border-top: 2px solid white;
    height: 25px;
    width: 550px;
    top: 5.65em;
    background-color: white;
    background-blend-mode: multiply;
    z-index: 10;
    pointer-events: none;
}
