.UserNav-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1240px;
    height: 100%;
    font-family: Interstate,Lucida Grande,Arial,sans-serif;
}

.UserNav-top-navbar-container {
    height: 3em;
    background-color: #333333;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #CCCCCC;
    z-index: 50;
}

.UserNav-top-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1240px;
    padding: 0;
    height: 100%;
}

/* ----------- NAVBAR LEFT ----------- */
.UserNav-top-navbar-left {
    /* margin-left: 15px; */
}

.UserNav-logo {
    border: 0;
    background-color: black;
    height: 100%;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.UserNav-logo > img {
    border: 0;
    background-color: black;
    height: 60%;

}

.UserNav-home-button,
.UserNav-stream-button {
    background-color: #333333;
    color: #CCCCCC;
    height: 100%;
    border-top: 0;
    border-bottom: 0;
    cursor: pointer;
}

.UserNav-home-button:hover,
.UserNav-stream-button:hover {
    color: white;
}

.UserNav-home-button {
    border-left: 1px sollid black;
    border-right: 0;
    padding: 0 30px;
}


.UserNav-top-navbar-left,
.UserNav-top-navbar-right {
    display: flex;
    align-items: center;
}


/* ----------- NAVBAR RIGHT ----------- */
.UserNav-top-navbar-right {
    /* margin-right: 15px; */
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.UserNav-stream-button {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0 30px;
}

.fa-ellipsis {
    font-size: 30px;
    padding-top: 4px;
    margin-left: 15px;
    cursor: pointer;
}

.UserNav-upload {
    cursor: pointer;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.UserNav-user {
    margin: 0 10px;
    word-wrap: break-word;
}

.fa-ellipsis:hover,
.UserNav-upload:hover {
    color: white;
}

.UserNav-dots {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-right: 15px;

}

.dots-menu-container {
    position: absolute;
    top: 48px;
    right: 0;
    border: 1px solid #CCCCCC;
    border-top: 0;
    width: 120px;
    height: 35px;
    color: #333333;
    background-color: white;
    display: flex;
    align-items: flex-end;
    border-radius: 0 0 3px 3px;
}

.logout-button {
    padding: 9px;
    width: 100%;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #F2F2F2;
}
